<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.gaox.page.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.gaox.page.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <result column="birth_date" property="birthDate"/>
        <result column="gender" property="gender"/>
        <result column="salary" property="salary"/>
        <result column="address" property="address"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, nick_name, birth_date, gender, salary, address, create_time, update_time, del_flag
    </sql>

    <!--    <select id="listGaoPage" resultType="net.gaox.relation.entity.SysUser">-->
    <select id="listGaoPage" parameterType="map" resultMap="BaseResultMap">
        SELECT *
        from user
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="net.gaox.page.entity.User">
        INSERT INTO `gao_page`.`user`(`id`, `name`, `nick_name`, `birth_date`, `gender`, `salary`, `address`,
                                      `create_time`, `update_time`, `del_flag`)
        VALUES (1, 'gaox', '高祥', '1995-08-27', 1, 25600.00, '山东省曹县杨集村', '2019-07-08 23:00:54', '2019-07-08 23:00:54',
                1);

    </insert>
</mapper>
