<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.gaox.model.mapper.EventsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.gaox.model.entity.Events">
        <id column="id" property="id"/>
        <result column="event_time" property="eventTime"/>
        <result column="location" property="location"/>
        <result column="type" property="type"/>
        <result column="participants" property="participants"/>
        <result column="result" property="result"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `id`, `event_time`, `location`, `type`, `participants`, `result`
    </sql>

</mapper>
